### Python ###
__pycache__/
*.py[cod]
*$py.class

# Project specific (Mandatory rule)
#/data/output/*

# Environments
.env
.venv
env/
venv/

# usrs
*.png
* _cache

# mypy
.mypy_cache/

# ruff
.ruff_cache/
